@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: darkgray;
}

.item {
  height: 180px;
  width: 180px;
  background-color: white;
  border: 2px solid black;
}
