* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url(../img/AMOS17Falcon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
